<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}| Emergency Response System</title>
</head>
<body>
{% include 'components/header.html' %}


{% block content %}

{%include 'components/float_buttons.html'%}
<p>
    Welcome to Emergency Response System, a platform for Emergency Response Teams to communicate and track incidents.
</p>
<p> Be Alert always with us through learning, Tracking and Communication.
Get Updated everyday with latest incidents and alerts and stay connected with Emergency Response System to keep you safe.

</p>




{% endblock %}
</body> 
</html>