{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<nav class="nav">
    <a href="/health-reports/" class="nav-item">
        <img src="{%static 'img/ambulance.jpg'%}" alt="Hospital" class="nav-icon"/>
        Hospital
    </a>

    <a href="/fire-reports/" class="nav-item">
        <img src="{% static 'img/fire-station.jpg'%}" alt="Firestation" class="nav-icon"/>
        Firestation
    </a>

    <a href="/disaster-reports/" class="nav-item">
        <img src=" {%static 'img/natural-disaster.webp'%}" alt="Natural Disaster" class="nav-icon"/>
        Natural Disaster
    </a>

    <a href="/security-reports/" class="nav-item">
        <img src="{% static 'img/police-badge.jpg' %}" alt="Police" class="nav-icon"/>
        Police
    </a>
</nav>

